@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');


$red: #E65C43;
$orange: #F25C43;
$white: #FFF; 
$light-grey: #666;
$dark-grey: #30353D;
$beige: #F5F6F6;

$font-body: 'Roboto';

$logo_img: url('../images/logo.png');
$bg_img: url('../images/bg.gif');
$social_media_img: url('../images/social-media.png');